<tr>
	<td><@link_to controller="categories" action="show" id="${item.id}">${item.id}</@link_to></td>
	<td><@link_to controller="categories" action="show" id="${item.id}">${item.title}</@link_to></td>
	<td>${item.id}</td>
	<td>${item.id}</td>
</tr>