@font-face {
    font-family: 'SF';
    src: url('/pages/fonts/SF/SF-UI-Text-Regular.ttf');
}

.font-sf {
  font-family: 'SF' !important;
}

.pointer {
    cursor: pointer;
}

.lg-text {
	font-size: 29px !important;
	font-weight: 300;
}

.split-view .split-list .item {
	height: 78px;
}

.split-view .split-list .item:last-child {
	border-bottom:none;
}

.form-group-default.transparent, .input-group.transparent, .form-control.transparent,
.input-group.transparent .select2-container .select2-choice {
	border-color: transparent;
	background-color: transparent;
}

.form-group-default.form-group-default-select2.transparent .select2-container .select2-choice {
	background-color: #e6e6e6;
	border-color: #e6e6e6;
}

.ingrs-table {
	max-height: 200px;
}

.table tbody tr:last-child td {
	border-bottom: none;
}

#info-panel #edit:hover > i {
	color: blue;
} 

#info-panel #delete:hover > i {
	color: red;
}

tr.jsgrid-row.active > td, tr.jsgrid-alt-row.active > td {
	background-color: #fef6dd;
}

.strikethrough {
    display: inline-block;
    position: relative;
    opacity: .7;
}

.strikethrough:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -12px;
    background: #626262;
    transform-origin: center left;
    animation: strikethrough 1s 0.3s cubic-bezier(.55,0,.1,1) 1;
    transition: transform 0.3s cubic-bezier(.55,0,.1,1);
}

.strikethrough:hover:after {
    transform: scaleX(0);
    transform-origin: center right;
}

@keyframes strikethrough {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

/*.form-group-default.form-group-default-select2 .select2-container .select2-choice {
	background-color: transparent;
	border-color: transparent;
}*/