<tr>
	<td><a href="/products/${item.id}/show">${item.id}</a></td>
	<td><a href="/products/${item.id}/show">${item.title}</a></td>
	<td>${item.artcode}</td>
	<td>${item.pricewithtax!"-"}</td>
	<td>-</td>
</tr>